@{
    ViewBag.Title = "Home Page";
}
@model RedditNewspaper.Models.SubredditWrapper
<script src="~/Content/redditapi.js"></script>
@using (Html.BeginForm("Newspaper", "Home", FormMethod.Get))
{
    @Html.TextBoxFor(m => m.Subreddit)

    <button id="submitButton">Newspaper-ize!</button>
}

