body {
    font-family: 'Century Schoolbook';
    background-color: floralwhite;
}

#newspaperTitle {
    font-family: 'Old English Text MT';
}

img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    filter: sepia(80%);
}

.rowSpacer {
    margin: 10px;
}

#mainPhoto {
    display: inline-block;
    float: left;
    width: 60%;
    margin-right: 20px;
    background-color: antiquewhite;
}
