body {
    font-family: 'Cardo', serif;
    background-color: floralwhite;
}

ul {
    list-style-type: none;
}

#submitButton {
    margin: 5px;
    width: 50%;
}

#subredditTextBox {
    width: 50%;
}

#newspaperTitle {
    font-family: 'Pirata One',monospace;
    font-size: 70px;
}

img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    filter: sepia(80%);
}

.rowSpacer {
    margin: 10px;
}

#mainPhoto {
    display: inline-block;
    float: left;
    width: 60%;
    margin-right: 20px;
    background-color: antiquewhite;
}

